html {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
    padding: 4vw;
}

.cmd {
    font-family: "Roboto Mono", monospace;
    font-size: 4vw;
}

header {
    font-family: "Cousine", monospace;
    position: absolute;
    top: 30%;
}

header p {
    font-size: 4vw;
}

header h1 {
    font-size: 10vw;
}