/* General settings */
html {
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: black;
    color: white;
    margin: 1.5em;
}

#bigHeader {
    font-family: "Cousine", monospace;
    margin-block-start: 4vh;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.7em;
    line-height: 1.7em;
}

ul {
    font-size: 2em;
}

/* For terminal line at the top */
.cmd {
    font-family: "Roboto Mono", monospace;
    font-size: 1.5em;
}

/* Navbar links */
li a {
    transition: background-color 0.1s ease-in;
}

li a:link,
li a:visited {
    color: white;
    text-decoration: none;
}

li a:hover,
li a:focus {
    color: black;
    background-color: white;
}

li a:focus {
    outline: none;
}

li a:active {
    color: black;
    background-color: aqua;
}

footer p {
    font-size: 1.2em;
    text-align: center;
    margin-block-start: 7em;
}

/* General links */
a:link,
a:visited {
    color: aqua;
}

@media screen and (min-width: 730px) {
    body {
        max-width: 700px;
        margin: 1.5em auto;
    }

    #bigHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.5em;
    }

    p {
        font-size: 2em;
    }

    ul {
        font-size: 2.2em;
    }
}