/* For the introduction box. Includes the nav */
#main {
    font-family: "Cousine", monospace;
    margin-block-start: 17vh;
}

header p {
    font-size: 2em;
}

header h1 {
    margin-block-start: 0;
    font-size: 6em;
}

/* Navbar */
nav ul {
    padding: 0;
    margin-block-start: 2em;
    margin-block-end: 4em;
    font-size: 2.5em;
    list-style-type: none;
}

nav li {
    margin: 1em auto;
    max-width: 6.5em;
    border: 1px solid white;
}

nav a {
    display: block;
    padding: 0.5em;
    text-align: center;
    font-size: 0.7em;
}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover,    
nav a:focus {
    color: black;
    background-color: white;
}

nav a:focus {
    outline: none;
}

nav a:active {
    color: black;
    background-color: aqua;
}

footer p {
    text-align: center;
    margin-block-start: 4em;
}

/* Bigger screens */
@media (min-width: 630px) {
    body {
        max-width: 600px;
        margin: 1.5em auto;
    }

    .cmd {
        font-size: 1.5em;
    }
    
    #main {
        margin-block-start: 17vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header p {
        font-size: 3em;
    }

    header h1 {
        font-size: 9em;
    }
    
    nav a {
        padding: 0.7em;
        font-size: 0.9em;
    }
}