#bigHeader {
    margin-block-start: 17vh;
}

#bigHeader h1 {
    margin-block-start: 0;
    font-size: 6em;
}

/* Navbar */
#bigHeader ul {
    padding: 0;
    margin-block-start: 2em;
    list-style-type: none;
}

#bigHeader li {
    margin: 1em auto;
    width: 6.5em;
    border: 1px solid white;
}

#bigHeader a {
    display: block;
    padding: 0.5em;
    text-align: center;
}

footer p {
    margin-block-start: 12em;
}

@media screen and (min-width: 730px) {
    #bigHeader ul {
        margin: 0;
    }

    #bigHeader h1 {
        font-size: 9em;
        margin: 0;
    }
}