/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* General settings */

html {
    font-family:  "Times New Roman", serif;
    font-size: 10px;
}

body {
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0.02rem;
    word-spacing: 0.02rem;
}

h1, h2 {
    font-family: Arial, sans-serif;
    letter-spacing: 0.05rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}

/* Paragraping */

section h2 + p {
    text-indent: 4rem;
}

/* Links */

a {
    color: #a66;
}

a:hover,
a:focus {
    text-decoration: none;  
    outline: none;
}

a:active {
    color: brown;
}

/* External links */
a[href^="http"] {
    padding-inline-end: 2rem;
    background-image: url("external-link-52.png");
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: right;
}

/* Navigation menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 1rem;
    text-align: center;
    border: 1px solid #a66;
}

nav a {
    display: inline-block;
    padding: 2rem;
    width: 100%;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: white;
    background-color: #a66;
}

nav a:active {
    background-color: brown;
}



